<section>
  		<div class="container">
  			<h1 class="text-3">ПАКЕТЫ УСЛУГ</h1>
  			<div class="row justify-content-center">
  				<div class="card product_card" style="width: 18rem; background-color: #cd7f32;">
				  <div class="card-body">
				    <h5 class="card-title">BRONZE CARD</h5>
				    <p class="card-text">-Не ограниченое время в спортзале <br> -душ <br><br><br></p>
				    <h3>199 грн./мес.</h3>
				  </div>
				</div>
				<div class="card product_card" style="width: 18rem; background-color: #c0c0c0;">
				  <div class="card-body">
				    <h5 class="card-title">SILVER CARD</h5>
				    <p class="card-text">-Не ограниченое время в спортзале <br> -душ <br> -бассейн <br><br></p>
				    <h3>479 грн./мес.</h3>
				  </div>
				</div>
				<div class="card product_card" style="width: 18rem; background-color: #ffd700;">
				  <div class="card-body">
				    <h5 class="card-title">GOLD CARD</h5>
				    <p class="card-text">-Не ограниченое время в спортзале <br> -душ <br> -бассейн <br> -питание</p>
				    <h3>980 грн./мес.</h3>
				  </div>
				</div>
  			</div>
  		</div>
  	</section>
<section>
  		<div class="container">
  			<h1 class="text-3">Цены на услуги</h1>
  			<table class="table table_one">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Услуга</th>
			      <th scope="col">Старая цена</th>
			      <th scope="col">Новая цена</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>1 тренировка с тренером</td>
			      <td><del>200 грн</del></td>
			      <td>100 грн</td>
			    </tr>
			    <tr>
			      <td>Пакет тренировок с тренером (12 тренировок)</td>
			      <td><del>2000 грн</del></td>
			      <td>1500 грн</td>
			    </tr>
			    <tr>
			      <td>Правильное питание на день (3 порции)</td>
			      <td><del>500 грн</del></td>
			      <td>450 грн</td>
			    </tr>
			  </tbody>
			</table>
  		</div>
  	</section>